on property:sys.boot_completed=1
    # end boot time fs tune
    write /sys/block/sda/queue/read_ahead_kb 512
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/dm-0/queue/read_ahead_kb 256
    write /sys/block/dm-1/queue/read_ahead_kb 256
    write /dev/cpuset/top-app/cpus 0-2
    write /dev/cpuset/foreground/cpus 0-2
    write /dev/cpuset/foreground/boost/cpus 0-2
    write /dev/cpuset/system-background/cpus 0-2
    write /dev/cpuset/background/cpus 0-2
